@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/inter-v13-latin-regular-400.woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/inter-v13-latin-medium-500.woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/inter-v13-latin-semi-bold-600.woff2');
}
